$small: 825px;
$medium: 1450px;

.signup-container {
  width: 25%;
  margin: 0 auto;

  .signup-header {
    margin-top: 70px;
    font-size: 50px;
    font-weight: 200;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $small) {
  .signup-container {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .signup-container {
    width: 45%;
  }
}

@media screen and (max-width: $medium) {
  .signup-container {
    width: 35%;
  }
}

@media screen and (min-width: 2000px) and (max-width: 3000px) {
  .signup-container {
    width: 15%;
  }
}
