.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.2px solid grey;
  padding: 0 15px;
  margin-bottom: 30px;
  font-size: 20px;

  .checkbox {
    margin: auto 0;
    width: 25px;
    height: 25px;
  }
}
