$small: 700px;
$medium: 1500px;
$large: 2000px;

.home-container {
  display: flex;
  width: 60%;
  margin: 20px auto;
  margin-top: 200px;
  flex-direction: row;
  height: 300px;

  .left-panel {
    padding: 30px;
    flex: 1;
    margin-right: 20px;
    flex-direction: column;
  }

  .login-link h1 {
    font-weight: 100;
  }

  .right-panel {
    margin-left: 20px;
    flex: 1;
    padding: 30px;
    flex-direction: column;
  }

  .sign-up-link h1 {
    font-weight: 100;
  }

  .home-nav-link {
    text-decoration: none;
    color: rgb(255, 100, 0);
    font-weight: 100;
    font-size: 40px;
    display: block;

    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .wiggle {
    color: #d46d2a;
    animation-name: wiggle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .pulse {
    color: #595654;
    animation-name: pulse;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $small) {
  .home-container {
    width: 95%;
  }
}

@media screen and (min-width: $small) and (max-width: 1000px) {
  .home-container {
    width: 70%;
  }
}

@media screen and (min-width: $medium) {
  .home-container {
    width: 40%;
  }
}
