$small: 700px;
$medium: 1500px;
$large: 2000px;

.home-container {
  display: flex;
  width: 40%;
  margin: 20px auto;
  margin-top: 50px;
  flex-direction: row;

  .left-panel {
    height: 300px;
    padding: 30px;
    flex: 1;
    margin-right: 15px;
    border: 0.5px solid black;
    flex-direction: column;
  }

  .login-link h1 {
    font-weight: 100;
  }

  .right-panel {
    height: 300px;
    margin-left: 15px;
    flex: 1;
    padding: 30px;
    border: 0.5px solid black;
    flex-direction: column;
  }

  .sign-up-link h1 {
    font-weight: 100;
  }
}

@media screen and (max-width: $small) {
  .home-container {
    width: 95%;
  }
}

@media screen and (min-width: $small) and (max-width: 1000px) {
  .home-container {
    width: 70%;
  }
}

@media screen and (min-width: $medium) {
  .home-container {
    width: 30%;
  }
}

@media screen and (min-width: $large) {
  .home-container {
    width: 25%;
  }
}
