.custom-input {
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 21px;
}

.custom-input-label {
  color: rgb(255, 100, 0);
  font-size: 28px;
  font-weight: 100;
}
