$small: 900px;
$medium: 1300px;

.login-container {
  width: 40%;
  margin: 0 auto;
  border-radius: 2%;

  .login-header {
    margin-top: 100px;
    font-size: 50px;
    font-weight: 200;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $medium) {
  .login-container {
    width: 60%;
  }
}
