.login-container {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 8%;
  padding-bottom: 10%;
  border-radius: 2%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  button {
    width: 40%;
    height: 30px;
    margin: 0 auto;
  }
}
